* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

#footer {
  text-align: center;
  padding: 5px;
}

#content {
  flex: 1;
  display: grid;
  justify-content: center;
}

#start-screen {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}

#info-text {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 2rem;
}

.boards {
  display: flex;
  gap: 50px;
  justify-content: center;
}

h2 {
  text-align: center;
}

.board-tiles {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  background-color: black;
  border: 2px solid black;
  margin: 30px;
  height: 400px;
  width: 400px;
}

.tile {
  padding: 5px;
  background-color: white;
  text-align: center;
  cursor: crosshair;
}

.ship {
  background-color: aqua;
}

[data-status="hit"] {
  background-color: blue;
}

[data-status="miss"] {
  background-color: crimson;
}

.blocked {
  pointer-events: none;
}
