* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

#footer {
  text-align: center;
  padding: 5px;
}

#content {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 9fr;
  place-content: center;
  gap: 10px;
  max-width: fit-content;
  margin: auto;
}

#start-screen {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

#info-text {
  grid-column: span 2;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 2rem;
}

.boards {
  grid-column: span 2;
  display: flex;
  gap: 50px;
  justify-content: center;
}

h2 {
  text-align: center;
}

#ship-placement {
  background-color: blueviolet;
  max-width: 400px;
}

#ship-display {
  padding: 20px;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.ship-element {
  display: flex;
  flex-direction: row;
}
[data-placement="docked"] {
  background-color: aquamarine;
}
[data-placement="anchored"] {
  background-color: blue;
}
[data-placement="pending"] {
  background-color: red;
}

.ship-section {
  height: 30px;
  width: 30px;
  outline: 2px solid black;
}

.board-tiles {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  background-color: black;
  border: 2px solid black;
  margin: 30px;
  height: 400px;
  width: 400px;
}

.tile {
  padding: 5px;
  background-color: white;
  text-align: center;
  cursor: crosshair;
}

.ship {
  background-color: aqua;
}

[data-status="hit"] {
  background-color: blue;
}

[data-status="miss"] {
  background-color: crimson;
}

.blocked {
  pointer-events: none;
}
